@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: #f5dbdd;
}
#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s ease;
    min-width: 90px;
    left: 0;
  }
  #sidebar-content{
    padding: 12px;
  }
  #usuario{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }
  #logo-empresa{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  #user-info{
    display: flex;
    flex-direction: column;
  }
  #user-info span:last-child{
    color: #6b6b6b;
    font-size: 12px;
  }
  #side-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
  .side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
  }
  .side-item.active{
    background-color: #f5dbdd;
  }
  .side-item:hover:not(.active), #logout-btn:hover{
    background-color: #f5dbdd;
  }
  .side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
  }
  .side-item.active a{
    color: #e3e9f7;
  }
  .side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  #logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
  }
  #logout-btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
  }
  #open-btn{
    position: absolute;
    top: 30px;
    right: -12px;
    background-color: #000;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
  #open-btn-icon{
    transition: .3s ease;
  }
  .open-sidebar #open-btn-icon{
    transform: rotate(180deg);
  }
  .descricao-item{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s;
    height: 0px;
  }
  #sidebar.open-sidebar{
    min-width: 15%;
  }
  #sidebar.open-sidebar .descricao-item{
    width: 150px;
    height: auto;
  }
  #sidebar.open-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
  }
  .submenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
  }
  .submenu{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s;
    height: 0px;
    margin-left: 32px;
  }
  #sidebar.open-sidebar .submenu{
    width: 150px;
    height: auto;
  }
  
  .side-item.active .submenu {
    display: flex;
  }
  .submenu li{
    text-align: center;
    border-radius: 8px;
    padding: 5px;
  }
  .submenu li:hover{
    background-color: #6665808a;
  }

/* PG-CADASTRO-SERVIÇO */

main{
    width: 100%;
    min-height: 100vh;
    background-color: #f5dbdd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    height: 590px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5%;
}
form{
    background-color: #ffffff;
    max-width: 500px;
    height: 400px;
    border-radius: 20px;
    padding: 50px;
}
form h1{
    text-align: center;
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
    padding: 0;
}
.servico{
    position: relative;
    margin: 50px 0;
}

.servico label{
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

.input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #cccccc71;
    padding: 5px;
    font-size: 17px;
    outline: none;
}

form .servico .input:focus ~ label,
form .servico .input:valid ~ label{
    transform: translateY(-25px);
    font-size: 15px;
    color: rgba(128, 128, 128, 0.5);
}

.btn-cadastrar{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #f5dbdd;
    cursor: pointer;
    transition: .2s;
}

form input[type=submit]:hover{
    transform: scale(1.05);
}
.form-select{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
}
.form-select:focus {
    border-color: #f5dbdd;
    box-shadow: 0 0 0 0.2rem #f5dbdd;
}

.form-select option {
    padding: 10px;
    background-color: #f5dbdd;
}
#calendar {
  max-width: 1100px;
  margin: 0 auto;
}
:root {
  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 5px;
}
.fc .fc-button-primary {
  background-color: #454749;
  border-color: #404041;
  color: var(--fc-button-text-color);
}
.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
}
.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 10px;
}