body{
    width: 100%;
    display: flex;
    align-items: center;
}
header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
img{
    width: 100px;
    margin: 0px 0px 0px 10px ;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    
}
li{
    margin: 0px 0px 0px 80px;
    text-decoration: none;
}